{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block extra_css %}
    {% endblock %}
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body class="site-body">
    <header class="site-header">
        <nav class="navbar">
            <h1 class="brand">Trishon Parrilla</h1>
            <ul class="nav-links">
                <li><a href="{% url 'about_me' %}">About Me</a></li>
                <li><a href="{% url 'experience' %}">Experience</a></li>
                <li><a href="{% url 'projects_list' %}">Projects</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main class="main-content">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="site-footer">
        <p>2024 Trishon Parrilla</p>
    </footer>
</body>
</html>